# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
.netlify

# env / secrets
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TS build info
*.tsbuildinfo

# test coverage
coverage
